#training{
    /*border: 2px solid black;*/
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cardSets{
    gap: 10px;
    background-color: #4b6f42
}

.spaceFromAbove{
    margin-top: 75px;
}

#rightSide{
    flex-direction: column;
}

.cardContainer{
    background-color: #4b6f42;
    padding: 50px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    row-gap: 10px;
}

.buttonContainer{
    /*border: 2px solid black;*/
    padding: 10px;
}

.number{
    text-align: center;
    width: 50px;
}

.number:focus{
    outline: none;
}

@media(max-width: 600px){
    .flexContainer{
        flex-direction: column;
        align-items: center;
    }

    #cardSets{
        flex-direction: row;
    }

    .cardContainer{
        grid-template-columns: repeat(1, 200px);
        margin-bottom: 20px;
    }

    .spaceFromAbove{
        margin-top: 0;
    }
}