.card{
    width: 150px;
    height: 200px;
    padding: 10px;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: medium;
    font-weight: 600;
}

.card>p{
    margin-top: 50px;
}

.italian{
    background: linear-gradient(90deg, green, white, red);
    color: black;
}

.german{
    background: linear-gradient(180deg, black, red, yellow);
    color: white;
}