.card{
    width: 150px;
    height: 200px;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.italian{
    background: linear-gradient(90deg, green, white, red);
    color: black;
}

.german{
    background: linear-gradient(180deg, black, red, yellow);
    color: white;
}